img {
  max-width: 50px;
  border-radius: 18%;
}

.advert {
  display: flex;
}

.advert h4 {
  margin-left: 26px;
}

.imgg-fluid {
    max-width: 10%;
    margin-left: 0%;
}

.cuenta {
    display: flex;

}
a {
    text-decoration: none;
    color: #212529;
}

.menu span {
    font-size: 13px;
    margin-left: 5px;
}