._1m3qpwct {
  width: 100% !important;
  min-height: 1px !important;
  border: none !important;
  outline: none !important;
  margin: 0px !important;
  color: #222222 !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: 100% !important;
  text-overflow: ellipsis !important;
}
