.card-fav {
  margin: 10px;
 /*  border-radius: 10px; */
  overflow: hidden;
  border: unset !important;
  background-color: unset !important;
  cursor: pointer;
  margin-top: -5px;
  display: flex;
  flex-direction: column !important;
}

/* .card:hover {
  transform: scale(1.07);
} */

.card-fav > img {
  max-height: 100% !important;
  max-width: 100% !important;
  height: 170px !important;
  border-radius: 4px;
  margin: 10px !important;
}

.card-fav__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 2px;
  padding-top: 7px;
  padding-left: 14px;
  border: 1;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-fav__info > h2 {
  font-size: 18px;
  font-weight: 600;
}

.card-fav__info > h6 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
   display: flex;
  flex-direction: row;
}

.card-fav__info p {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}