/* .menu-guest .avatar {
  max-width: 50px;
}
.menu-guest  .hight-panel {
  display: flex;
  flex-direction: row;
}


.menu-guest .panel {
  display: flex;
  flex-direction: column;
}

.menu-guest a {
  color: #47d147;
}

 #one {
    border-top: 2px solid gainsboro;

}

 .hr-main {
    border-top: 1px solid gainsboro;
}
.menu-guest span {
    font-size: smaller;
} */

.hight-panel {
  display: flex;

  align-items: center;
}

.hight-panel img {
  max-width: 100%;
  max-height: 100%;
  height: 45px;
}

.panel {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr-main {
width: 100%;
}